<h2>Contact Us</h2>
<br>
<form>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br><br>
    <label for="email">Email Address:</label><br>
    <input type="email" id="email" name="email"><br><br>
    <label for="message">Message:</label><br>
    <input type="text" id="message" name="message"><br><br>
    <input class="btn btn-primary" type="submit" value="Submit">
</form>

<br><br>

<ul>
    <li>Phone: 763-123-1234</li>
    <li>Email: info@elitemediadesign.com</li>
    <li>Address: 80 S 8th St, Suite #005 Minneapolis, MN 55402</li> 
</ul>
